AI LEAD ANALYZER.json
{
  "name": "AI LEAD ANALYZER",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1QotRNLlek4-XzvREivZngXRG3tWLKxj7nvEdDxeaxUY",
          "mode": "list",
          "cachedResultName": "AI Lead Analyzer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QotRNLlek4-XzvREivZngXRG3tWLKxj7nvEdDxeaxUY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1955656543,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QotRNLlek4-XzvREivZngXRG3tWLKxj7nvEdDxeaxUY/edit#gid=1955656543"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        48
      ],
      "id": "eb3aa5e2-9454-451e-9e18-3064bd771be7",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "NLepKNhCWJf2AKXy",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Sales Consultant.\n\nAnalyze the lead below and provide a short business assessment.\n\nName: {{ $json.Name }}\nCompany: {{ $json['Company name'] }}\nIndustry: {{ $json.Industry }}\nCompany Size: {{ $json['Company size'] }}\nMonthly Revenue: {{ $json['Monthly Revenue'] }}\nAutomation Request: {{ $json['What would you like to automate?'] }}\nTimeline: {{ $json['  How soon do you want a solution?  '] }}\n\nLead Score: {{ $json.lead_score }}\nLead Status: {{ $json.lead_status }}\n\nReturn ONLY valid JSON.\n\n{\n\"reason\":\"\",\n\"priority\":\"\",\n\"recommended_action\":\"\"\n}\n\nRules:\n\npriority must be:\nHigh\nMedium\nLow\n\nrecommended_action must be one short sentence.\n\nreason must be one short sentence explaining why this lead is qualified.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "620cd977-f5fa-47fc-a0c0-578e6d124219",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "57b27d5e-f63e-4b89-8bcc-88ed9a2809f6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "KDwVhxvr2lkSo8LH",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let score = 0;\n\n// Revenue\nconst revenue = $json[\"Monthly Revenue\"];\n\nif (revenue === \"$20k-$100k\") score += 40;\nelse if (revenue === \"$5k-$20k\") score += 25;\nelse score += 10;\n\n// Timeline\nconst timeline = $json[\"  How soon do you want a solution?  \"];\n\nif (timeline === \"Immediately\") score += 30;\nelse if (timeline === \"Within 30 days\") score += 20;\nelse score += 10;\n\n// Company Size\nconst size = $json[\"Company size\"];\n\nif (size === \"201+\") score += 25;\nelse if (size === \"51-200\") score += 20;\nelse if (size === \"11-50\") score += 15;\nelse score += 10;\n\n// Status\nlet status = \"cold\";\n\nif (score >= 80) status = \"hot\";\nelse if (score >= 50) status = \"warm\";\n\nreturn [{\n  json: {\n    ...$json,\n    lead_score: score,\n    lead_status: status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        16
      ],
      "id": "9d5f1fb1-4a24-4343-8618-6d0ae8bc3cb4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ai_leads",
          "mode": "list",
          "cachedResultName": "ai_leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_score": "={{ $('Code in JavaScript1').item.json.lead_score }}",
            "name": "={{ $('Google Sheets Trigger').item.json.Name }}",
            "email": "={{ $('Google Sheets Trigger').item.json.Email }}",
            "company_name": "={{ $('Google Sheets Trigger').item.json['Company name'] }}",
            "industry": "={{ $('Google Sheets Trigger').item.json.Industry }}",
            "company_size": "={{ $('Google Sheets Trigger').item.json['Company size'] }}",
            "monthly_revenue": "={{ $('Google Sheets Trigger').item.json['Monthly Revenue'] }}",
            "automation_request": "={{ $('Google Sheets Trigger').item.json['What would you like to automate?'] }}",
            "timeline": "={{ $('Google Sheets Trigger').item.json['  How soon do you want a solution?  '] }}",
            "lead_status": "={{ $('Code in JavaScript1').item.json.lead_status }}",
            "priority": "={{ $json.priority }}",
            "reason": "={{ $json.reason }}",
            "recommended_action": "={{ $json.recommended_action }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "monthly_revenue",
              "displayName": "monthly_revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "automation_request",
              "displayName": "automation_request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommended_action",
              "displayName": "recommended_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        32
      ],
      "id": "ca8e58db-e67b-4529-8979-01db0f95673a",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "fTWh4XW2T9NtyCLk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ai = JSON.parse($json.output);\n\nreturn [{\n  json: {\n    reason: ai.reason,\n    priority: ai.priority,\n    recommended_action: ai.recommended_action\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "4c85c15d-d9f3-495f-b0cf-55c84aa63957",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b8d3cfab-d788-4858-9c84-8d17a3400a20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6302d253bd01bcbf96ec91ab1b47ed5415813ed9eb5b02bbe466eff76dbf2845"
  },
  "nodeGroups": [],
  "id": "K9wpZj8maMRZCwwm",
  "tags": []
}