lead qualify system (1).json
{
  "name": "lead qualify system",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "={{ \"https://docs.google.com/spreadsheets/d/1LSLLbLGmQiIcea0LHM98AP7DQ_Hy0nFe-YJgarlwhHQ/edit?gid=325955103#gid=325955103 \"}}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 325955103,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LSLLbLGmQiIcea0LHM98AP7DQ_Hy0nFe-YJgarlwhHQ/edit#gid=325955103"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "ba1167db-ba2d-4fe5-8150-2750714b848c",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "NLepKNhCWJf2AKXy",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ba00e54e-0742-475a-982f-47e8f07e8ded",
              "leftValue": "={{ $json.Budget }}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "155b6904-46ef-41ec-81ad-ddf7ec9a5199",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        -80
      ],
      "id": "1b246a2d-7815-4f4c-91d0-2b64339af3d5",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"LeadType\": \"High Value Lead\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -176
      ],
      "id": "19c6b30a-2147-49f9-867d-a75ca34c4ad0",
      "name": "High value lead"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \n  \n\"Leadtype\": \n\"Low value lead\"\n  \n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        16
      ],
      "id": "e25a0d23-3da5-4f4c-877f-b37745818d65",
      "name": "Low value lead"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KTNm9a3MTvu1a5bdIwPUPx3o-gzAhKLtBeeeXMvuQEY",
          "mode": "list",
          "cachedResultName": "High value lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KTNm9a3MTvu1a5bdIwPUPx3o-gzAhKLtBeeeXMvuQEY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KTNm9a3MTvu1a5bdIwPUPx3o-gzAhKLtBeeeXMvuQEY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -176
      ],
      "id": "fa8e415b-c3b7-4c8e-a07f-28048d957416",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N341U3imzxbKUosQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yapQlN3mB0jMUS8V1vDIv6qcdfZPBUEsn_ViZjl-Xs8",
          "mode": "list",
          "cachedResultName": "Low value lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yapQlN3mB0jMUS8V1vDIv6qcdfZPBUEsn_ViZjl-Xs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yapQlN3mB0jMUS8V1vDIv6qcdfZPBUEsn_ViZjl-Xs8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        16
      ],
      "id": "f692f2a7-f136-414f-9f07-0353b5846548",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N341U3imzxbKUosQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.Email }}",
        "subject": "Thank you for your inquiry !!",
        "emailType": "text",
        "message": "=Hi {{\"armaan\"}},\n\nThank you for contacting us.\n\nWe received your inquiry and a team member will reach out shortly.\n\nRegards,\nPersonal brand",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -176
      ],
      "id": "e103e58a-6eb5-4319-b297-4b6022f20b2d",
      "name": "Send a message",
      "webhookId": "6a660a61-dbd1-4b42-970c-3f9d265b1b26",
      "credentials": {
        "gmailOAuth2": {
          "id": "lhXijSq8nks9qSrl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.Email }}",
        "subject": "Thank you for inquiry !!",
        "emailType": "text",
        "message": "=hi ,\nwe have checked your details , but your budget is not matching with our qualification , i'll \nnotify you for more updates later !\n\nThank you",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        16
      ],
      "id": "4a0f7558-4192-45b3-a903-3d2f5fe21830",
      "name": "Send a message1",
      "webhookId": "5e6bfcad-8b84-4ea4-ba54-a88284c5e2a4",
      "credentials": {
        "gmailOAuth2": {
          "id": "lhXijSq8nks9qSrl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "High value lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low value lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High value lead": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low value lead": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "13a532f5-23fb-44e8-9b1b-1395b1452050",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6302d253bd01bcbf96ec91ab1b47ed5415813ed9eb5b02bbe466eff76dbf2845"
  },
  "nodeGroups": [],
  "id": "TXm724degnfeYwMe",
  "tags": []
}